*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Caveat', cursive;
}
@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  }

header, footer, section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #28302e, #1f5446);
  background-size: 100% 100%;
  -webkit-animation: bgAnimate 10s ease infinite;
  -moz-animation: bgAnimate 10s ease infinite;
  -o-animation: bgAnimate 10s ease infinite;
  animation: bgAnimate 10s ease infinite;
}

/*анимируем бэкграунд*/
@-webkit-keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgAnimate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.section-title{
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/**************HEADER*****************/
.header{
    overflow: hidden;
}
.header__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header__profession{
  font-size: 30px;
}
.header__title{
  font-size: 70px;
}
.header__quote{
  font-size: 30px;
}

.header__overlay-top,
.header__overlay-middle,
.header__overlay-bottom{
  width: 100%;
  height: 33.3vh;
  background: yellow;
  position: relative;
  z-index: 1;
}



/**************END_HEADER************/



/**************NAVIGATION************/
/*button*/

.nav-btn{
  position: fixed;
  top: 2%;
  left: 2%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 11;
  width: 36px;
  height: 36px;
}
.nav-btn span{
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #000;
}
.nav-btn span:first-child{
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease-in;
}
.nav-btn span:nth-child(2){
  width: 70%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all .2s ease-in;
}
.nav-btn span:last-child{
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .2s ease-in;
}

.nav-btn:hover span:nth-child(2){
  transform: translate(40%, -50%);
}
.nav-btn__close span:first-child{
  transform: rotate(45deg) translateX(-1px);
  top: 50%;
  transition: all .2s ease-in;
}
.nav-btn__close span:nth-child(2){
  opacity: 0;
  transition: all .2s ease-in;
}
.nav-btn__close span:last-child{
  transform: rotate(-45deg) translateX(-1px);
  bottom: 50%;
  transition: all .2s ease-in;
}

/*end_button*/

.nav{
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  transform: translateY(-100vh);
  transition: transform .3s ease-in;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.nav-in{
  transform: translateY(0);
  transition: transform .3s ease-in;
}
.nav__list{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  list-style: none;
}
.nav__list li{
  margin-left: 24px;
}
.nav__list li:first-child{
  margin-left: 0px;
}
.nav__list li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

/**************END_NAVIGATION********/


/**************SKILLS*****************/

.skills{
  display: flex;
}

.skill{
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}
.skill__name{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 10px #fff;
}
.skill__content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.skill__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.skill__list li {
  font-size: 34px;
  padding: 24px 24px 24px 96px;
}

.skill__img{
  width: 40%;
  height: 40%;
  transform: translateY(100px);
  transition: transform 1s ease-in;
}
.skill__img img{
  width: 100%;
  height: 100%;
}
.skill__arrow{
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease-in;
}

.skill__arrow--in{
  opacity: 1;
  transform: translateX(0);
}
.skill__img--in{
  transform: translateY(0);
}

/**************END_SKILLS*************/

/**************CERTIFICATE*************/


.certificate-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificate{
  width: 80vw;
  height: 80vh;
  position: relative;
}
.certificate:hover .certificate__items{
  transform: translate(-5%, -5%);
  transition: transform 1s ease;
}
.certificate:hover .certificate__buttons,
.certificate:hover .certificate__footer{
  opacity: 1;
  transition: opacity .5s ease;
  transition-delay: .8s;
}
.certificate__items{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 1s ease;
}
.certificate__buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 5%;
  padding-top: 6px;
  padding-bottom: 6px;
  opacity: 0;
  transition: opacity .5s ease;
}
.certificate__buttons .toggleBtn{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid skyblue;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 12px;
}
.certificate__buttons .toggleBtn .activeTab{
  width: 12px;
  height: 12px;
}
.certificate__buttons .toggleBtn .activeTab:last-child{
  margin-bottom: 0;
}
.certificate__item{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
              -23px 0 20px -23px rgba(0, 0, 0, .8),
              23px 0 20px -23px rgba(0, 0, 0, .8),
              0 0 40px rgba(0, 0, 0, .1) inset;
}
.certificate__img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
}
.certificate__img img{
  max-width: 100%;
  max-height: 100%;
}
.certificate__cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
              -23px 0 20px -23px rgba(0, 0, 0, .8),
              23px 0 20px -23px rgba(0, 0, 0, .8),
              0 0 40px rgba(0, 0, 0, .1) inset;
  display: flex;
  justify-content: center;
  align-items: center;            
}
.certificate__title{
  color: #fff;
  font-size: 50px;
}
.certificate__footer{
  width: 100%;
  height: 5%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
  
.showContent{
  display: block;
  z-index: 9;
  background: linear-gradient(270deg, #1d5f4e, #1f5446);
}
.activeTab{
  background: skyblue;
}


/**************END_CERTIFICATE*********/  